<div class="container">
  <h2 class="text-center btn btn-primary col-12 mb-3 p-2">Product Detail</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-3">
            <label for="chooseItem">Choose Item:</label>
          </div>
          <div class="col-md-9">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">Unit:</label>
          </div>
          <div class="col-md-9">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <!-- input  -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">Qty:</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Quantity"
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <!-- input  -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">Rate:</label>
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Rate"
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <!-- input  -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">Disc %:</label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Disc"
            />
          </div>
          <div class="col-md-2 d-flex justify-content-start align-items-start">
            <label for="chooseItem" class="pt-2">Disc Rs:</label>
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Disc"
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <!-- input  -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem" class="text-muted"
              >Amount Include ST:</label
            >
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Rate"
              disabled
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">ST %:</label>
          </div>
          <div class="col-md-3">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Disc"
            />
          </div>
          <div class="col-md-2 d-flex justify-content-start align-items-start">
            <label for="chooseItem" style="font-size: 9px" class="pt-2"
              >ST Amount:</label
            >
          </div>
          <div class="col-md-4">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Disc"
              disabled
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <!-- input  -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem" class="text-muted"
              >Amount Include ST:</label
            >
          </div>
          <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              id="chooseItem"
              placeholder="Enter Rate"
              disabled
            />
          </div>
        </div>
      </div>
      <!-- input end -->
      <!-- select start -->
      <div class="form-group">
        <div class="row">
          <div class="col-md-3">
            <label for="chooseItem">Choose Godown:</label>
          </div>
          <div class="col-md-9">
            <select class="form-select" aria-label="Default select example">
              <option selected>Open this select menu</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <!-- select end -->
      <!-- input  -->
      <div class="form-group">
        <div
          class="row d-flex flex-row justify-content-between align-items-center"
        >
          <div class="col-md-4 form-check form-switch">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              checked
            />
          </div>
          <div class="col-md-4">
            <button class="btn btn-success">Purchase</button>
          </div>

          <div class="col-md-4 d-flex justify-content-end align-items-end">
            <button class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Qty</th>
            <th>Rate</th>
            <th>Dis Per</th>
            <th>Dis Rs</th>
            <th>Amt Exc...</th>
            <th>ST Per</th>
            <th>ST Amt</th>
            <th>Amt Incl...</th>
            <th>Godown</th>
            <th>EType</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PERRUS...</td>
            <td>1500.0000</td>
            <td>670.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>100500...</td>
            <td>18.00</td>
            <td>180900.00</td>
            <td>118590...</td>
            <td>FBR</td>
            <td>Purchase</td>
          </tr>
          <tr>
            <td>PERRUS...</td>
            <td>1500.0000</td>
            <td>670.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>100500...</td>
            <td>18.00</td>
            <td>180900.00</td>
            <td>118590...</td>
            <td>FBR</td>
            <td>Purchase</td>
          </tr>
          <tr>
            <td>PERRUS...</td>
            <td>1500.0000</td>
            <td>670.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>100500...</td>
            <td>18.00</td>
            <td>180900.00</td>
            <td>118590...</td>
            <td>FBR</td>
            <td>Purchase</td>
          </tr>
          <tr>
            <td>PERRUS...</td>
            <td>1500.0000</td>
            <td>670.00</td>
            <td>0.00</td>
            <td>0.00</td>
            <td>100500...</td>
            <td>18.00</td>
            <td>180900.00</td>
            <td>118590...</td>
            <td>FBR</td>
            <td>Purchase</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
