body {
  font-family: Arial, sans-serif;
}
.container {
  margin-top: 20px;
}
.form-group {
  margin-bottom: 10px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered th,
.table-bordered td {
  border: 1px solid #ddd;
  padding: 8px;
}
.purchase-button {
  margin-top: 10px;
}
label {
  font-size: 1rem !important;
}
input {
  padding: 3px 2px !important;
  font-size: 1rem !important;
  width: 100%;
  font-weight: 400;
  line-height: 0.8;
}
@media screen and (max-width: 500px) and (min-width: 320px) {
  .item-form {
    width: 100% !important;
  }
  .table {
    width: 100% !important;
  }
}
